<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Cabinet</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
  <link rel="stylesheet" href="../static/css/cabinet.css" />
</head>

<body>
  <header>
    <div class="menu">
      <a class="home" href="/#in">Home</a>
      <a class="cabinet" href="/cabinet">Cabinet</a>
      <a class="logout" href="/logout">Exit</a>
    </div>
  </header>
  <div id="data" class="container">

  </div>
  <script src="../static/scripts/cabinet.js"></script>
</body>

</html>