header .cabinet {
   display: inline-block;
}

header .login,
.registration {
   display: none;
}

.container {
   display: block;
}

.container h1 {
   padding-top: 20px;
}

.container .data {
   padding-top: 20px;
}

.container ul li {
   list-style: none;
   margin-top: 20px;
   color: #fff;
   font-size: 25px;
   text-shadow: -0 -2px 4px #000000, 0 -2px 4px #000000, -0 2px 4px #000000, 0 2px 4px #000000, -2px -0 4px #000000, 2px -0 4px #000000, -2px 0 4px #000000,
      2px 0 4px #000000, -1px -2px 4px #000000, 1px -2px 4px #000000, -1px 2px 4px #000000, 1px 2px 4px #000000, -2px -1px 4px #000000, 2px -1px 4px #000000,
      -2px 1px 4px #000000, 2px 1px 4px #000000, -2px -2px 4px #000000, 2px -2px 4px #000000, -2px 2px 4px #000000, 2px 2px 4px #000000, -2px -2px 4px #000000,
      2px -2px 4px #000000, -2px 2px 4px #000000, 2px 2px 4px #000000;
}